# Files
.DS_Store
.gradletasknamecache
local.properties
ktlint

# Folders
**/.gradle
**/.idea
**/build
**/xcuserdata
**/Pods/**

# Extensions
*.class
*.d
*.dia
*.ear
*.iml
*.log
*.nar
*.rar
*.tar.gz
*.war
*.xcuserstate
*.zip

# Patterns
.~lock*
hs_err_pid*
